/*ELEMENTOS*/
    header{
        background-color: #FFFFFF;
        box-shadow: 0px 0px 3px 0px #3E3E42;
        border-radius: 12px;
    }

    footer{
      background-color: #FFFFFF;
      box-shadow: 0px 0px 3px 0px #3E3E42;
      border-radius: 12px;
    }

    body{
        background-color: #EEEEEE;
    }

    main{
        background-color: #EEEEEE;
    }

/*BOOTSTRAP*/
    a.nav-link{
      color: #8d8c8e;
    }

    a.nav-link:hover{
      color: #3E3E42;
    }

/*BOTÕES*/
    .botao-principal{
        background-color: #3E3E42;
        color: #FFFFFF !important; 
        border-radius: 12px;
        width: 100%;
        border: 1px solid #3E3E42;
    }

    .botao-principal:hover{
        background-color: #FFFFFF;
        color:#3E3E42 !important; 
        border-radius: 12px;
        border: 1px solid #3E3E42;
    }

    .botao-atencao{
        background-color: #FFDC00;
        color: #3E3E42 !important; 
        border-radius: 12px;
        width: 100%;
    }

    .botao-atencao:hover{
        background-color: #3E3E42;
        color: #FFDC00 !important; 
        border-radius: 12px;
    }

/*CORES TEXTO*/
 .preto{
    color: #3E3E42;
 }

 /*CORES FUNDO*/
 .bg-preto{
    background-color: #3E3E42;
 }
/*FONTES*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
  }

  .inter-extrabold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

/*PROPORÇÃO TIPOGRAFIA*/
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.7rem;
    }

    h4{
        font-size: 1.3rem;
    }

    p{
        font-size: 1.15rem;
    }

    small{
        font-size: 0.800rem;
    }